body{
    background-color: lightblue;
}

#heading{
    text-align: center;
}

#day9Text{
    text-align: right;
}

#day11Text {
    text-align: right;
}
#day13Text{
    text-align: right;
}

#day15Text{
    text-align: right;
}